<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrathena.spring.boot.dao.SYSResourceMapper">
	<resultMap id="BaseResultMap" type="com.mrathena.spring.boot.entity.SYSResource">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="ico" jdbcType="VARCHAR" property="ico" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="priority" jdbcType="INTEGER" property="priority" />
		<result column="permission" jdbcType="VARCHAR" property="permission" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="parentId" jdbcType="BIGINT" property="parentId" />
		<result column="available" jdbcType="BIT" property="available" />
	</resultMap>
	<sql id="Base_Column_List">
		id, type, name, ico, url, priority, permission, description, parentId, available
	</sql>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.mrathena.spring.boot.entity.SYSResource">
		insert into sys_resource (id, type, name, 
			ico, url, priority, 
			permission, description, parentId, 
			available)
		values (#{id,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
			#{ico,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, 
			#{permission,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}, 
			#{available,jdbcType=BIT})
	</insert>
	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.mrathena.spring.boot.entity.SYSResource">
		insert into sys_resource
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="ico != null">
				ico,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="priority != null">
				priority,
			</if>
			<if test="permission != null">
				permission,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="parentId != null">
				parentId,
			</if>
			<if test="available != null">
				available,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="ico != null">
				#{ico,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="priority != null">
				#{priority,jdbcType=INTEGER},
			</if>
			<if test="permission != null">
				#{permission,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=BIGINT},
			</if>
			<if test="available != null">
				#{available,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.mrathena.spring.boot.entity.SYSResource">
		update sys_resource
		set type = #{type,jdbcType=VARCHAR},
			name = #{name,jdbcType=VARCHAR},
			ico = #{ico,jdbcType=VARCHAR},
			url = #{url,jdbcType=VARCHAR},
			priority = #{priority,jdbcType=INTEGER},
			permission = #{permission,jdbcType=VARCHAR},
			description = #{description,jdbcType=VARCHAR},
			parentId = #{parentId,jdbcType=BIGINT},
			available = #{available,jdbcType=BIT}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.mrathena.spring.boot.entity.SYSResource">
		update sys_resource
		<set>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="ico != null">
				ico = #{ico,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="priority != null">
				priority = #{priority,jdbcType=INTEGER},
			</if>
			<if test="permission != null">
				permission = #{permission,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				parentId = #{parentId,jdbcType=BIGINT},
			</if>
			<if test="available != null">
				available = #{available,jdbcType=BIT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from sys_resource
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from sys_resource
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectAll" resultType="com.mrathena.spring.boot.entity.SYSResource">
		select * from sys_resource order by parentId, priority
	</select>
	<select id="selectAvaliable" resultType="com.mrathena.spring.boot.entity.SYSResource">
		select * from sys_resource where available = 1 order by parentId, priority
	</select>
	<update id="enableByIds" parameterType="java.util.Map">
		update sys_resource set available = 1 where id in
		<foreach collection="ids" item="id" index="index" open="(" separator="," close=")">#{id}</foreach>
	</update>
	<update id="disableByIds" parameterType="java.util.Map">
		update sys_resource set available = 0 where id in
		<foreach collection="ids" item="id" index="index" open="(" separator="," close=")">#{id}</foreach>
	</update>
	<delete id="deleteByIds" parameterType="java.util.Map">
		delete from sys_resource where id in
		<foreach collection="ids" item="id" index="index" open="(" separator="," close=")">#{id}</foreach>
	</delete>
</mapper>